@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* ===== Podstawowe ustawienia ===== */
* {
    font-family: "Kanit", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8eced;
}

/* ===== Przyciski ===== */
.button-blue {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #0e6dac;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, cursor 0.3s;
}

.button-blue:hover {
    color: black;
    background-color: #d1d1d1;
    cursor: pointer;
}

/* ===== Layout ===== */
.content {
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* ===== Kontener logowania ===== */
.login-container {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
}

.login-container input {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px;
    font-size: 18px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.login-container button {
    border-radius: 5px 5px 10px 10px;
}

/* ===== Obrazek ===== */
.content img {
    width: 100%;
    max-width: 300px;
    margin: 20px;
    transition: transform 1s;
}

.content img:hover {
    transform: rotate(-5deg);
}

/* ===== Stopka ===== */
.footer {
    width: 100%;
    min-height: 120px;
    background-color: #fff;
    color: #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .p1,
.footer .p2 {
    padding: 10px;
    text-align: center;
}

.footer .p2 {
  font-size: 14px;
}

/* ===== Responsywność ===== */
@media only screen and (max-width: 720px) {
  .content {
    flex-direction: column;
    justify-content: center;
    min-height: auto;   
  }
}
